body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #000000;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
  text-align: center;
}


.timer-section {
  margin: 30px;
}

#time {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
}

.buttons button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.todo-section {
  margin-top: 30px;
}

#todo-input {
  padding: 10px;
  width: 70%;
}

#add-task {
  padding: 10px;
}

ol {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

li {
  margin: 8px 0;
  text-align: left;
}

li input[type="checkbox"] {
  margin-right: 10px;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

.theme-section {
  margin-top: 30px;
}

footer {
  margin-top: 50px;
  font-size: 12px;
}
